.dataTables_wrapper {
	padding: 12px;
}

.col-header {
	display: table;
	height: 46px;
	border: 1px solid #eeeeee;
	border-right: 0px;
}

.col-header:last-child {
	border-right: 1px solid #eeeeee;
}

.col-header span {
	vertical-align: middle;
	display: table-cell;
}

.col-content {
	display: table;
	border: 1px solid #eeeeee;
	border-right: 0px;
}

.col-content:last-child {
	border-right: 1px solid #eeeeee;
}

.col-content span {
	vertical-align: middle;
	display: table-cell;
}