.col-header {
	height: 46px;
}

.vcenter {
	display: table;
}

.vcenter span {
	display: table-cell;
	vertical-align: middle;
}

.vtop {
	display: table;
}

.vtop span {
	display: table-cell;
	vertical-align: top;
}

.col-content {
	border: 1px solid #eeeeee;
}

.pagination-info {
	height: 30px;
}

.box-custom-info .box-header .box-tools .glyphicon.with-white-bg {
	color: #CCCCCC;

}

.box.box-custom-info {
  border-top-color: #666666;
}

.box.box-solid.box-custom-info {
  border: 1px solid #666666;
}

.box.box-solid.box-custom-info > .box-header {
  color: #ffffff;
  background: #666666;
  background-color: #666666;
}

.box.box-solid.box-custom-info > .box-header a,
.box.box-solid.box-custom-info > .box-header .btn {
  color: #ffffff;
}




.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}
