.col-header {
	height: 46px;
}

.vcenter {
	display: table;
}

.vcenter span {
	display: table-cell;
	vertical-align: middle;
}

.vtop {
	display: table;
}

.vtop span {
	display: table-cell;
	vertical-align: top;
}

.col-content {
	border: 1px solid #eeeeee;
}

.pagination-info {
	height: 30px;
}

.box-custom-info .box-header .box-tools .glyphicon.with-white-bg {
	color: #CCCCCC;

}


.box.box-solid > .box-header .btn.btn-default {
	background: white;
}


.box.box-solid.box-default > .box-header a, .box.box-solid.box-default > .box-header .btn.custom-font{
	color: white;
}

.schedule-today {
	font-weight: bold;
}

.schedule-passed {
	color: #837E7C;
}

.class-reserved {

}

.class-studying {
	font-weight: bold;
}

.class-finished {
	color: #59C817;
}

.class-canceled {
	color: #D11B17;
}

@media (max-width: 767px) {
  .btn-responsive {
    padding:1px 5px;
    font-size:12px;
    line-height: 1.5;
    border-radius:3px;
  }
}

@media (min-width: 768px) {
  .btn-responsive {

  }

.box.box-solid.box-danger > .box-header a, .box.box-solid.box-danger > .box-header .btn.custom-to-black {
    color: #000000;
}

b.date {
    text-align: right;
}

.link-color{
	color: #FFFFFF;
}
.link-color:hover{
	color: #C0C0C0;
}
td:hover {
	background-color: #3090C7;
}
b:hover{
	color: #FFFFCC;
}

